<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
    <meta name="viewport" content="width=device-width">

    <style type="text/css">
        body, p, div {
            font-family: inherit;
            font-size: 14px;
        }

        body {
            color: #000000;
        }

            body a {
                color: #1188E6;
                text-decoration: none;
            }

        p {
            margin: 0;
            padding: 0;
        }

        table.wrapper {
            width: 100% !important;
            table-layout: fixed;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        img.max-width {
            max-width: 100% !important;
        }

        .column.of-2 {
            width: 50%;
        }

        .column.of-3 {
            width: 33.333%;
        }

        .column.of-4 {
            width: 25%;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <style>

        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body style="background: #f5f5f5; padding: 15px;">
    <div style="max-width: 550px; margin: 0 auto;">
        <img src="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" style="width: 150px;" />

        <div style="background: #fff; padding: 15px; margin-top: 15px; border-radius: 8px;">
            <p>Hello @Model.UserName,</p>
            <p>Here is your code for verification: <b>@Model.Code</b></p>
        </div>
    </div>
</body>
</html>
